<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NORMAL</title>
</head>
<body>
    <ul class="ca-menu">
        <li>
            <a href="#">
                <div class="ca-content">
                    <h2 class="ca-main">Noticias</h2>
                    <h3 class="ca-sub">Enterate de todo</h3>
                </div>
                <div class="ca-icon" id='iconNews'></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="ca-content">
                    <h2 class="ca-main">Partners</h2>
                    <h3 class="ca-sub">Consigue tu mecenazgo</h3>
                </div>
                <div class="ca-icon" id='iconPartners'></div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="ca-content">
                    <h2 class="ca-main">Sobre nosotros</h2>
                    <h3 class="ca-sub">Conócenos!</h3>
                </div>
                <div class="ca-icon" id='iconAboutUs'></div>
            </a>
        </li>
    </ul>
    <div id="content">
        <div class="prueba">aszxdfas</div>
        <div>asxdfas</div>
    </div>
</body>
</html>