@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols/websymbols-regular-webfont.woff') format('woff'),
         url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ca-menu{
    padding: 0;
    width: 20px;
    height:400px;
    background-color:#f900b0;
    transition:0.5s;
    overflow: hidden;
}
.ca-menu li{
    display:none;
}

.ca-menu:hover{width:280px;background-color:black;}
.ca-menu:hover li{display:initial !important;}

.ca-sub{display:none;}
.ca-menu li:hover{
    background-color: #000;
}
.ca-menu li:hover .ca-main{
    margin-left:1em !important;
}
.ca-menu li:hover .ca-icon{
    display:initial !important;
    color: #f900b0;
    margin:auto;
    left: -20px;
    transform: rotate(20deg);   
}
.ca-menu li:hover .ca-main{
    color: #f900b0;
    opacity: 0.8;
    animation: moveFromTop 300ms ease-in-out;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    opacity: 0.8;
    animation: moveFromBottom 300ms ease-in-out;
}
#iconNews{
background-image: url(../assets/graphics/iconos/interfaz.svg);
width:2em;
height:2em;
background-color:#f900b0;
border-radius:100%;
display:none;
}
a{display:flex;}

@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateY(-200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}